* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Fira Code", sans-serif;
    color: #000;
    font-size: 1.6rem;
    line-height: 1.4;
}

.main-header{
    display: flex;
    justify-content: space-between;
    background-color: #073B4C;
    border-bottom: 1rem solid #000;
    padding: 1rem 2rem;
}

.icon-menu {
    background-color: transparent;
    border: none;
    height: 6rem;
    width: 6rem;
    image-rendering: pixelated;
}

@media (min-width: 981px) {
    .main-header > .icon-menu {
        display: none;
    }
}

.mobile-menu {
    display: none;
}

img {
    height: 6rem;
    width: 6rem;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: 500;
    margin-right: 3.0rem;
}

.action::before {
    display: inline-block;
    content: "";
    background-color: #D7D9CE;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

.button {
    display: inline-block;
    background-color: #D7D9CE;
    color: #000;
    height: 6.0rem;
    line-height: 6.0rem;
    padding-left: 2rem;
    padding-right: 2.0rem;
    box-shadow: 0.35vw 0.35vw 0rem #000;
    margin-right: 0rem;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}

.button:hover {
    transform: scale(1.08);
    opacity: 0.5;
}

.close-menu {
    font-family: "Press Start 2P", sans-serif;
    background-color: #000;
    color: #D7D9CE;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
}

@media (max-width: 980px) {
    .menu {
        display: none;
    }

    .mobile-menu {
        flex-direction: column;
        gap: 1.5vw;
        position: fixed;
        top: 0rem;
        right: 0rem;
        background-color: #000;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .action:first-child {
        margin-top: 1rem;
    }

    #buttoncv {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 1.5rem;
        text-align: center;
        box-shadow: none;
    }

    .open {
        display: flex;
    }
}

.banner {
    box-sizing: border-box;
    background-image: url(assets/IMG/Photo.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 56vw;
    border-bottom: 1rem solid #000;
    padding-top: 7vw;
    padding-left: 7vw;
}

.banner .box {
    margin-bottom: 4vw;
}

.box {
    display: inline-block;
    background-color: #073B4C;
    box-shadow: 0.75vw 0.75vw 0 #000;
    text-align: center;
    width: 45vw;
    padding: 4vw 4vw;
}

.box .main-title {
    margin-bottom: 2vw;
    font-size: 2vw;
}

.box .subtitle {
    font-size: 1.7vw;
}

.main-title {
    font-family: "Press Start 2P", sans-serif;
    color: #D8F651;
    text-shadow: 0.5rem 0.5rem 0 #000;
}

.subtitle {
    font-family: "Press Start 2P", sans-serif;
    color: #FFF;
    text-shadow: 0.4rem 0.4rem 0 #000;    
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
    width: 45vw;
}

.navigation .button {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    text-align: center;
    width: 11vw;
    height: 5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.6vw;
}

.section {
    background-color: #073B4C;
    border-bottom: 1rem solid #97A1AF;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.section .main-title {
    color: #FFF;
    text-align: center;
    text-shadow: none;
    font-size: 3rem;
}

.section .title {
    color: #FFF;
    font-size: 2rem;
    padding-left: 0.5rem;
}

.list {
    display: flex;
    font-family: "Press Start 2P", sans-serif;
    font-size: 2.5rem;
    height: 6rem;
}

.list .title {
    width: 22.5vw;
}

.icon {
    margin-right: 2.5rem;
}

.progress-bar {
    box-sizing: border-box;
    background-color: #000;
    border: 0.5rem solid #000;
    height: 4rem;
    border-radius: 0%;
    width: 22.5vw;
}

.progress-bar::-webkit-progress-bar {
    background-color: #FFF;
}

.progress-bar::-moz-progress-bar {
    background-color: #FFF;
}

.progress-bar::-webkit-progress-value {
    background-color: #97A1AF;
}

.progress-bar::-moz-progress-value {
    background-color: #FFF;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}

.wrapper-skill .list {
    width: 30vw;
    margin-bottom: 4rem;
}

@media (max-width: 980px) {
    .wrapper-skill {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .wrapper-skill .list {
        margin-bottom: 7rem;
    }

    .progress-bar {
        width: 40vw;
    }
}

.section .main-title {
    margin-bottom: 7rem;
}

.section.-projects {
    background-color: #000;
    padding-bottom: 12rem;
}

.section.-projects .main-title {
    color: #FFF;
    text-align: center;
    text-shadow: none;
    font-size: 3rem;
    margin-bottom: 10rem;    
}

.section.-projects .card-project {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18448C;
    box-shadow: 0.45vw 0.45vw 0 #97A1AF;
    width: 20%;
    height: 20%;
}

.section.-projects .wrapper-projects {
    display: flex;
    justify-content: space-around;
}

.section.-projects .projectimage {
    width: 100%;
    height: 100%;
}

.card-project {
    transition: transform 200ms linear;
}

.card-project:hover {
    transform: scale(1.08);
}

.section.-sobre {
    background-color: #251627;
    border-bottom-color: #000;
}

.main-description {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-left: 4rem;
    margin-right: 4rem;  
}

@media (max-width: 700px) {
    .main-description {
        font-size: 1.8rem;
    }
}

.section.-contatos {
    background-color: #4B5267;
    border-bottom: none;
    height: 80rem;
}

.main-title.-contatos {
    margin-bottom: 5.5rem;
}

.main-formulario {
    height: 80%;
    margin-left: 5rem;
    margin-right: 5rem;
}

.wrapper.-contatos {
    padding-bottom: 2rem;
}

.label {
    display: block;
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 0.4rem;
}

.input {
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    border: 0.5rem solid #000;
    padding-left: 0.5rem;
}

.input.-message {
    height: 20rem;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.button.-contatos {
    background-color: #D0D3C5;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    transition: transform 200ms cubic-bezier(.45,.97,.68,2.48);
    cursor: pointer;
}

.button:hover {
    transform: scale(1.02);
}

.main-rodape {
    height: 8rem;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.link-contatos {
    margin-left: 2rem;
    margin-right: 2rem;
}

.img-contatos {
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#zap {
    height: 4.5rem;
    width: 4.5rem;
}